.myName {
  text-align: center;
  float: left;
  max-width: 60%;
}

.starfish {
  text-align: center;
  clear: both;
  display: inline;
}

.starfish img {
  display: none;
  margin-top: 3em;
  width: 3em;
  height: 3em;
}

nav {
  display: inline;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
  text-align: right;
}

.myName h1 {
    margin-top: 1em;
    color: #CF5300;
    padding: .5em;
    text-shadow: 1px 1px black;
    font-size: 1.25em;
}

.myName h2 {
    color: #CF5300;
    padding: .5em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    text-shadow: 1px 1px black;
    font-size: 1.25em;
    margin-top: -1em;
}

section {
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 0 2em 2em rgba(255,255,255,.2);
  padding: 1em;
  width: 25em;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  margin-bottom: 2em;
  overflow: hidden;
}

section:last-child {
  margin-bottom: 4em;

}

section time {
  font-size: .7em;
  color: #7e7e7e;
}

section img {
  width: 20em;
  max-width: 90%;
  cursor: pointer;
  border: .2em solid black;
}

section img:hover {
  border: .2em solid orange;
}

.icon-menu {
  cursor: pointer;
}

.blogText {
  float: left;
}

.bottomBox{
  margin-top: 2.45em;
}

i {
  font-style: italic;
}

textarea {
  width: 75%;
}
