.myName {
  margin-left: 2em;
  background-image: url('images/cloud.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 70%;
  color: green;
  /*box-shadow: 0 0 1em 1em white;*/
  padding-top: 1em;
  font-size: 1.25em;
  color: #c0c0c0;
  text-align: center;
  text-shadow: 1px 1px black;
  }
