section h1 {
  font-size: 1.5em;
  margin: .25em;
}

.bottomBox li {
  display: inline;
  margin: 10%;
}

nav ul {
  display: none;
  list-style: none;
}

nav.activeState ul {
  display: block;
  float: right;
}

nav li {
  text-align: center;
  padding: .5em;
  border: 1px solid black;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  div.starfish {
    display: inline;
  }

  nav ul {
    display: block;
    float: right;
  }
  nav li {
    display: inline;
    float: right;
  }

  section {
    text-align: left;
    width: 80%;
    overflow: hidden;
    margin-bottom: 2em;
  }

  section img {
    margin-right: 1em;
    float: left;
  }

  .blogText{
    float: none;
    display: inline;
  }
}

@media only screen and (min-width: 860px) {
  section {
    width: 688px;
  }
}
