img {
  max-width: 90%;
}

html {
  height: 100%;
  width: 100%;
  background-size: cover;
    background-color: #444;
  /*background-color: #d3d3d3;*/
  /*background-image: url("../images/ocean.jpg");*/
  background-image: url("../images/wave-4 BW.jpg");
  background-position: center;
  background-repeat: no-repeat;
/*background-size: 50% 50%;*/


}

header {
  width: 100%;
  display: inline-block;
  height: 10em;
  position: fixed;
  top: 0;
  /*background: linear-gradient(rgba(173,216,230,50),rgba(0,0,0,0));*/
}

main {
  position: fixed;
  bottom: 0;
  width: 100%;

}

footer {
  /*background: linear-gradient(rgba(0,0,0,0) ,#444 50%);*/
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5em;
  text-align: center;
}

.template {
  display: none;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: 'Rasa', serif;
  font-size: 1.75em;
}

p {
  font-family: 'Rasa', serif;
  font-size: 1.5em;
}
