.myName {
  margin-left: 7%;
  text-align: center;
  float: left;
  width: 35%;
}

.starfish {
  display: none;
  margin: 0 auto;
  margin-top: 1em;
}

.starfish img {
  width: 3em;
  height: 3em;
}

.secondStarfish {
  display: none;
  margin: 0 auto;
  margin-top: 1em;
}

.secondStarfish img {
  width: 3em;
  height: 3em;
}

nav {
  display: inline;
  float: right;
  margin-top: .75em;
  margin-right: 3%;
  text-align: right;
}

.myName h1 {
    color: #CF5300;
    padding: .5em;
    text-shadow: 1px 1px black;
    font-size: 1.75em;
    font-family: 'Cherry Cream Soda', cursive;
}

section {
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 0 2em 2em rgba(255,255,255,.2);
  padding: .5em;
  width: 25em;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  margin-bottom: 2em;
  overflow: hidden;
}

section:first-child {
  margin-top: 1em;
}

section:last-child {
  margin-bottom: 4em;
}


section time {
  font-size: .7em;
  color: #7e7e7e;
}

section img {
  width: 20em;
  max-width: 90%;
  cursor: pointer;
  border: .2em solid black;
}

section img:hover {
  border: .2em solid orange;
}

.icon-menu {
  cursor: pointer;
}

.blogText {
  float: left;
}

.bottomBox{
  margin-top: 2.45em;
}

i {
  font-style: italic;
}

textarea {
  margin-top: 1em;
  width: 75%;
  height: 10em;
}
